<!DOCTYPE html>
<html>
<body style="font-family: Arial; background:#f4f4f4; padding:20px;">

<div style="background:white; padding:20px; border-radius:10px;">
    <h2 style="color:green;">🎉 Congratulations {{ seeker_name }}!</h2>

    <p>Your application for <strong>{{ job_title }}</strong> at <strong>{{ company_name }}</strong> has been <b>Accepted</b>.</p>

    <p>{{ interview_message }}</p>

    <hr>

    <p>Best Regards,<br>
    {{ company_name }}<br>
    CareerSphere Team</p>
</div>

</body>
</html>
