<!DOCTYPE html>
<html>
<body style="font-family: Arial; background:#f4f4f4; padding:20px;">

<div style="background:white; padding:20px; border-radius:10px;">
    <h2 style="color:red;">Application Update</h2>

    <p>Hello {{ seeker_name }},</p>

    <p>We appreciate your interest in <strong>{{ job_title }}</strong> at <strong>{{ company_name }}</strong>.</p>

    <p>After careful consideration, your application has been <b>Rejected</b>.</p>

    <p>We encourage you to apply again in the future.</p>

    <hr>

    <p>Best Regards,<br>
    {{ company_name }}<br>
    CareerSphere Team</p>
</div>

</body>
</html>
