{% extends "base.html" %}

{% block content %}

<h2>Available Jobs</h2>
<form method="GET">
    <input type="text" name="q" placeholder="Search jobs...">
    <button type="submit">Search</button>
</form>

<h3>Filter by Job Type:</h3>
<a href="?job_type=Full-Time">Full-Time</a>
<a href="?job_type=Part-Time">Part-Time</a>
<a href="?job_type=Internship">Internship</a>

<h3>Filter by Location:</h3>
<a href="?location=Gujarat">Gujarat</a>
<a href="?location=Delhi">Delhi</a>
<a href="?location=Mumbai">Mumbai</a>

<hr>

{% for job in jobs %}
    <div style="border:1px solid black; padding:10px; margin:10px;">
        <h3>
        <a href="{% url 'job_detail' job.pk %}">
            {{ job.title }}
        </a>
        </h3>

        <p>{{ job.description }}</p>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Salary:</strong> {{ job.salary }}</p>
        <p><strong>Employer:</strong> {{ job.employer.username }}</p>

        {% if user.is_authenticated and user.user_type == 'job_seeker' %}
            <a href="{% url 'apply_job' job.id %}">Apply</a>
        {% endif %}
    </div>
{% empty %}
    <p>No jobs available.</p>
{% endfor %}
<div>
    {% if page_obj.has_previous %}
        <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}